<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<header>
		<div th:insert="/template :: header"></div>
	</header>

	<footer>
		<div th:insert="/template :: footer"></div>
	</footer>

	<div th:insert="/template :: JavaScriptBootstrap"></div>
</body>
</html>